.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-menu.open .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger-menu.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.open .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .title {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .sidebar {
    width: 0px;
    background-color: #f1f1f1;
    overflow: auto;
    transition: transform 0.3s ease;
    
  }
  
  .sidebar.open {
    width: 250px;
    background-color: #ffffff;
    position: sticky;
  }
  .content{
    display: flex;
  }
  
  .main-content {
    flex: 1;
    background-color: #f3f3f3;
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
  }
  
  .card {
    flex: 1 0 calc(25% - 20px);
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 1024px) {
    .card-container.cols-3 .card {
      flex: 1 0 calc(33.333% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .card-container.cols-2 .card {
      flex: 1 0 calc(50% - 20px);
    }
  }
  