.productCard {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    padding: 0px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: lato,sans-serif;
    border-radius:10px;
  }
  
  .addToWishListBtn {
    background-color: white;
    position: absolute;
    z-index: 2;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .productData {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .productNameInfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .productCard img {
    width: 100%;
  }
  .productPrice{
    font-size: 22.93px;
  }

  .productCard h4 {
    font-size: 22.93px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .ruppesSign{
    font-size: 13.92px;
  }
  
  .productCard p {
    margin: 5px 0;
  }
  
  .productCard span {
    font-weight: bold;
  }
  
    .addToCartBtn {
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px 20px;
    max-width: fit-content;
    color: black;
    border: 2px solid black;
    cursor: pointer;
  }
  
  .addToCartBtn .selected{
    color: white;
    background: #000;
  }
  .productCard p span {
    margin-right: 5px;
  }

  .parentClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 1200px) {
    .parentClass {
      justify-content: flex-start;
    }
  }
  
  @media screen and (max-width: 800px) {
    .parentClass {
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .parentClass {
      justify-content: flex-start;
    }
  }
  