.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login-container label input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .login-container button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-container button:focus {
    outline: none;
  }
  