@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.filterContainer{
  display: flex;
  flex-direction: column;
}

.heading{
  margin: 0px;
  font-family: lato;
  font-size: 26px;
}

.sizeFilterContainer{
  display: flex;
  margin: 10px;
}

.shoeSize {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shoeSizeText {
  font-size: 10px;
  font-weight: bold;
}
.shoeSizeText.selected {
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.maxPrice{
  display: flex;
  flex-direction: column;
}

.maxPrice p{
  margin: 0px;
  font-size: 21px;
}

.minPrice{
  display: flex;
  flex-direction: column;
}

.minPrice p{
  margin: 0px;
  font-size: 21px;
}

.priceRange{
  display: flex;
  justify-content: space-between;
  margin: 0px 45px;
}
.label{
  font-size: 16px;
}
.shoeSize.selected {
  background-color: #000;
}

.sizeRow {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust the gap value as per your preference */
}


.ratingOptions{
  display: flex;
  margin: 10px;
  cursor: pointer;
}