.order{
    display: flex;
    justify-content: space-between;
}
.orderSummary{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.checkOut{
    display: flex;
    margin: 45px;
    justify-content: space-between;
}
.checkOut button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }